{% extends 'base.html' %}
{% block content %}
    {% if self_profile %}
        <a href="{% url 'create_post' user.id %}"><p>Create Post</p></a>
        <a href="{% url 'edit_profile' user.id %}">Edit Profile</a>
    {% endif %}
    <h4 class="text-center">{{ user.username|capfirst }}</h4>
    <p class="text-center">{{ user.profile.bio }}</a></p></br></br>
    {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <p class="article-title"><a href="{{ post.get_absolute_url }}">{{ post.content }}</a></p>
            </div>
        </div></br>
    {% empty %}
        <p>This user has no posts </p>
    {% endfor %}
{% endblock %}
